/* global */
* {
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: black;
   background-color: ;
}

ul {
   list-style: none;
}

html,
body {
   padding: 0;
   margin: 0;
}

.center__align {
   margin: 0 auto;
   width: 1190px;
}


.blind {
   position: absolute;
   overflow: hidden;
   clip: rect(0 0 0 0);
   margin: -1px;
   width: 1px;
   height: 1px;
}

.relative {
   position: relative;
}

/* header */
header {
   height: 170px;
}

#header__top {
   float: right;
   margin-top: 8px;
}

.top__linkset {
   float: left;
   color: #888;
   letter-spacing: -1px;
   font-size: 11px;
   line-height: 23px;
}

.link__icon {
   display: inline-block;
   width: 26px;
   height: 26px;
   background: url(imgs/naver_main.png)  -382px -213px no-repeat;
   background-size: 442px 428px;
   vertical-align: middle;
   margin: -3px 0 0 3px;
}

.top__bar{
   float: left;
   width: 1px;
   height: 10px;
   margin: 0 7px;
   color: #888;
   background-color: #e4e8eb;
}

.link__jr{
   display: inline-block;
   width: 60px;
   height: 10px;
   background: url(imgs/naver_main.png) -264px -296px no-repeat;
   background-size: 442px 428px;
   vertical-align: middle;
   margin: 6px;
}

.link__jr:hover{
   display: inline-block;
   width: 60px;
   height: 10px;
   background: url(imgs/naver_main.png) -326px -296px no-repeat;
   background-size: 442px 428px;
   vertical-align: middle;
   margin: 6px;
}

.link__happy{
   display: inline-block;
   width: 34px;
   height: 11px;
   background: url(imgs/naver_main.png) -365px -245px no-repeat;
   background-size: 442px 428px;
   vertical-align: middle;
   margin: 6px 3px 2px;
}

.link__happy:hover{
   display: inline-block;
   width: 34px;
   height: 11px;
   background: url(imgs/naver_main.png) -380px -199px no-repeat;
   background-size: 442px 428px;
   vertical-align: middle;
   margin: 6px 3px 2px;
}

#header__search {
   clear: both;
   padding-top: 12px;
}

#header__search h1 {
   width: 198px;
   height: 48px;
   display: inline-block;
   background: url(imgs/naver_main.png) 0 -162px no-repeat;
   background-size: 390px 428px;
   vertical-align: middle;
   position: relative;
   top: -5px;
   left: 1px;
}

#header__search fieldset {
   width: 521px;
   height: 49px;
   display: inline-block;
   margin-left: 18px;
   padding: 12px 0 12px 10px;
   border: 2px solid #03cf5d;
   vertical-align: middle;
   position: relative;
}

#header__search fieldset input {
   border: none;
   padding: 0;
   outline: none;
   width: 395px;
   height: 23px;
   vertical-align: top;
}

#header__search fieldset button {
   width: 49px;
   height: 49px;
   border: none;
   padding: 0;
   background: #03cf5d;
   position: absolute;
   right: -2px;
   top: -2px;
}

#search__keybord {
   background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg);
   background-repeat: no-repeat;
   background-position: -33px -60px;
   width: 19px;
   height: 11px;
   display: inline-block;
   margin: 0 6px;
   vertical-align: middle;
}

#search__history {
   background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg);
   background-repeat: no-repeat;
   background-position: -87px -60px;
   width: 9px;
   height: 4px;
   display: inline-block;
   margin: 0 6px;
   vertical-align: middle;
}

.search__icon {
   display: inline-block;
   background-image: url(imgs/naver_main.png);
   background-position: -420px -24px;
   background-size: 442px 428px;
   background-repeat: no-repeat;
   width: 22px;
   height: 22px;
   margin: 14px;
}

/* navbar global */
.word__green {
   color: #03cf5d;
}

.nav__item {
   font-size: 15px;
   line-height: 30px;
   font-weight: 700;
   letter-spacing: -.3px;
   margin-left: 12px;
}

/* navbar */
nav {
   height: 52px;
   border-top: 1px solid #d1d8e4;
   border-bottom: 1px solid #d1d8e4;
   padding: 0 30px;
}

.nav__menu-black{
   color: black;
}

nav ul {
   display: inline-block;
   margin: 0;
   padding: 10px 0 0 4px;
   list-style: none;
   font-size: 15px;
   line-height: 30px;
   font-weight: 700;
   letter-spacing: -.3px;
}

nav li {
   display: inline-block;
}

.nav__set {
   display: inline-block;
   background-image: url(imgs/naver_main.png);
   background-repeat: no-repeat;
   background-size: 442px 428px;
   vertical-align: middle;
   margin-left: 2px;
}

.nav__mail {
   width: 21px;
   height: 21px;
   background-position: -420px -74px;
}

.nav__shopping {
   width: 24px;
   height: 20px;
   background-position: -76px -388px;
}

.nav__live {
   width: 54px;
   height: 20px;
   background-position: -209px -269px;
}

.nav__tv {
   width: 12px;
   height: 14px;
   background-position: -256px -212px;
}

.nav__divider {
   display: inline-block;
   margin: 18px 2px 0;
   width: 1px;
   height: 14px;
   background: #ebeef3;
}

.more{
   font-size: 13px;
   line-height: 30px;
   font-weight: 400;
}

.nav__more{
   display: inline-block;
   width: 11px;
   height: 7px;
   background: url(imgs/naver_main.png) -402px -296px no-repeat;
   background-size: 442px 428px;
   margin-left: 7px;
   vertical-align: middle;
   content: '';
}

#nav__weather{
   display: inline-block;
   width: 270px;
   height: 18px;
   padding: 17px 0 17px 0;
   background-color: #03cf5d;
   vertical-align: top;
}

/* main content */
/* main-left */
main{
   display: inline-block;
   width: 100%;
}
#main__content {
   padding: 20px 30px;
   width: 1190px;
   display: flex;
   justify-content: space-between;
}
#main__left{
   
}

.main__ad{
   display: inline-block;
   width: 750px;
   height: 135px;
   background: url(imgs/main-ad.jpg) no-repeat;
   background-size: 750px 135px;
}

#main__right{
   padding: 0 20px;
   margin: 0;
}
.news__area{
   float: left;
   width: 750px;
}
.news__top{
   display: inline-block;
   position: relative;
   width: 750px;
   height: 49px;
   border: 1px solid #dae1e6;
   padding: 12px 15px 11px 15px;
   line-height: 24px;
   background-color: #f7f9fa;
}

.link__news{
   float: left;
   padding-right: 12px;
   margin-left: 7px;
   font-size: 13px;
   font-weight: 700;
   letter-spacing: -.3px;
}

.link__arrow{
   display: inline-block;
   background: url(imgs/naver_main.png) -262px -112px no-repeat;
   background-size: 442px 428px;
   width: 6px;
   height: 10px;
}

.news__content{
   display: inline-block;
   font-size: 13px;
}

.news__link{
   float: right;
}

.news__qatar{
   display: inline-block;
   width: 93px;
   height: 16px;
   background: url(imgs/naver_main.png) -270px -245px no-repeat;
   background-size: 442px 428px;
   vertical-align: middle;
}

.news__categories{
   display: inline-block;
   color: #3565c9;
   font-size: 13px;
   font-weight: 700;
   margin-left: 8px;
   line-height: 24px;
}

.stand__top{
   padding: 22px 0 16px;
   font-size: 14px;
   line-height: 18px;
   width: 750px;
   height: 56px;
   display: flex;
   justify-content: space-between;
}

.stand__top a{
   font-weight: 700;
}

.stand__img{
   display: inline-block;
   width: 27px;
   height: 24px;
   background: url(imgs/naver_main.png) -272px -342px no-repeat;
   background-size: 442px 428px;
   vertical-align: middle;
   margin: -6px 0 0 0;
}

.stand__link{
   display: inline-block;
   width: 7px;
   height: 11px;
   background: url(imgs/naver_main.png) -410px -213px no-repeat;
   background-size: 442px 428px;
   margin-left: 6px;
}

.sub__news{
   margin-right: 15px;
}

.all__news{
   font-weight: 700;
}

.menu__list{
   display: inline-block;
   width: 14px;
   height: 13px;
   background: url(imgs/naver_main.png) -244px -310px no-repeat;
   background-size: 446px 428px;
   margin: 0 9px;
}

.menu__table{
   display: inline-block;
   width: 13px;
   height: 13px;
   background: url(imgs/naver_main.png) -276px -310px no-repeat;
   background-size: 442px 428px;
   margin: 0 9px 0 0;
}

.menu__set{
   display: inline-block;
   width: 15px;
   height: 15px;
   background: url(imgs/naver_main.png) -102px -386px no-repeat;
   background-size: 442px 428px;
}

.news__stand ul{
   display: inline-block;
   margin: 0;
   border-top: 1px solid #dae1e6;
   border-left: 1px solid #dae1e6;
   padding: 0;
}

.news__stand li{
   float: left;
   border-right: 1px solid #dae1e6;
   border-bottom: 1px solid #dae1e6;
   width: 16.66%;
   height: 65px;
   text-align: center;
   padding: 23px 0 22px 0;
}

.news__stand li img{
   height: 20px;
}

.today__read{
   display: inline-block;
   border: 1px solid #dae1e6;
   background-color: #03cf5d;
   width: 100%;
   height: 100%;
}

/* main-right */
.main__login{
   display: inline-block;
   width: 350px;
   height: 135px;
   background-color: #888;
}

.covid{
   display: inline-block;
   width: 100%;
   height: 46px;
   border: 1px solid #dae1e6;

}

.side__ad{
   background: url(imgs/side-ad.jpg) no-repeat;
   background-size: 350px 200px;
   width: 350px;
   height: 200px;
   margin: 12px 0;
}

.shopping{
   border: 1px solid #dae1e6;
   height: 100%;
}